@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.container {
  width: 330px;
  border: 2px solid black;
  border-radius: 19px;
  background-color: slategray;
  padding: 0 15px;
}

h1 {
  color: gainsboro;
  text-align: center;
  margin: 15px;
}

span {
  color: salmon;
}

input {
  width: 100%;
  padding: 10px;
  height: 80px;
  border-radius: 10px;
  background-color: gainsboro;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  outline: none;
  border: none;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  background-color: gainsboro;
}

button:hover {
  background-color: rgb(209, 205, 205);
}